/* change path if required! */
@font-face {
    font-family: 'Lato';
    src: url('lato-bold.woff2') format('woff2'),
         url('lato-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-regular.woff2') format('woff2'),
         url('lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}