<nav></nav>

<h1>Moje podróże</h1>
<p>
  Tu będziemy wstawiać elementy galerii oparte o AngularJS<br />Ilość elementów:
  6
</p>

<section class="container">
  <div class="image-card">
    <img src="/assets/nowy jork.webp" />
    <h3>Nowy Jork</h3>
    <p><b>Kiedy:</b> grudzień 2015</p>
  </div>
  <div class="image-card">
    <img src="/assets/moskwa.jpg_large" />
    <h3>Moskwa</h3>
    <p><b>Kiedy:</b> sierpień 2014</p>
  </div>
  <div class="image-card">
    <img src="/assets/paryz.webp" />
    <h3>Paryż</h3>
    <p><b>Kiedy:</b> listopad 2013</p>
  </div>
  <div class="image-card">
    <img src="/assets/rio.jpg" />
    <h3>Rio</h3>
    <p><b>Kiedy:</b>listopad 2013</p>
  </div>
  <div class="image-card">
    <img src="/assets/bydgoszcz.jpg" />
    <h3>Bydgoszcz</h3>
    <p><b>Kiedy:</b> czerwiec 2012</p>
  </div>
  <div class="image-card">
    <img src="/assets/wenecja.jpg" />
    <h3>Wenecja</h3>
    <p><b>Kiedy:</b> październik 2011</p>
  </div>
</section>
