* {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}

body {
    margin: 0;
}

nav,
footer {
    background-color: #00838f;
    color: #b2dfdb;
    padding: 10px;
}

main {
    display: flex;
}

aside,
section {
    width: 50%;
    height: 600px;
    overflow: auto;
}

aside {
    background-color: #b2dfdb;
}

.wycieczka {
    /* background-color: #00838f; */
    background-color: #00838fb3;
    /* opacity: 0.7; */
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}

.wycieczka:hover {
    background-color: #00838fff;
}

img {
    float: right;
    border-radius: 30px;
    margin: 7px;
}

li {
    display: inline-block;
    list-style-type: none;
}

a {
    color: #b2dfdb;
    text-decoration: none;
    margin-left: 50px;
}

a:hover {
    color: white;
    text-decoration: underline;
}