* {
    font-family: Georgia, serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: forestgreen;
    color: white;
    padding: 2px;
    text-align: center;
}

nav {
    background-color: darkkhaki;
    height: 150px;
    overflow: hidden;
}

main {
    display: flex;
}

aside, section {
    background-color: khaki;
    width: 50%;
    height: 400px;
}

aside img {
    padding: 2px;
    margin: 10px;
    border: 2px dotted forestgreen;
    border-radius: 40px;
}

p {
    font-size: 120%;
    font-style: italic;
}



