* {

    font-family: "Verdana";
    /* box-sizing: border-box;
    margin: 0; */

}

#upper-left, #upper-right {

    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
    float: left;

}

#upper-left {

    width: 75%;

}

#upper-right {

    width: 25%;
    text-align: right;

}

#main {

    background-color: mintcream;
    padding: 80px;
    width: 100%;
    float: left;

}

#bottom-footer-left, #bottom-footer-right {

    background-color: seagreen;
    color:white;
    width: 50%;
    height: 70px;
    text-align: center;
    float: left;
    margin: auto;

}

input {

    margin-bottom: 20px;

}

img {

    box-shadow: 15px 15px 10px dimgray;

}

a {

    text-decoration: none;
    background-color: mintcream;
    color: seagreen;
    padding: 15px;
    line-height: 70px;
}