* {
    font-family: "Gill Sans MT", "Calibri";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
    margin: 0 auto;
}

#container-row {
    display: flex;
}

header#left {
    width: 40%;
}

header#right {
    width: 60%;
    text-align: right;
}

div#allActors {
    display: flex;
    margin: 0 auto;
}

.actor-index {
    width: 15em;
    text-align: center;
}

.actor {
    width: 25em;
    text-align: center;
}

img {
    width: 90%;
    border-radius: 50%;
}

.actor p {
    font-size: 120%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #e30613;
}