body {
	margin: 0;
	font-family: Helvetica;
}
#baner,
#stopka {
	background: #AF4448;
	color: white;
	text-align: center;
	height: 20px;
	clear: both;
}
#lewy,
#prawy {
	background: #FFA4A2;
	height: 650px;
	width: 50%;
	float: left;
}
h4 {
	margin: 0;
}
button {
	background: #AF4448;
	color: white;
	padding: 5px;
	margin: 10px;
}
h3 {
	margin: 0;
}